<h1>Records#show</h1>
<p>Find me in app/views/records/show.html.erb</p>
<img src="<%= @record.cover_art %>">
<h1><%= @record.title %></h1>
<h2>by <%= @record.artist %></h2>
<p>Year: <%= @record.year %></p>
<p>Song Count: <%= @record.song_count %></p>
<%= link_to "Delete", @records, method: :delete %>