<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password  %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation  %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "sign up!"  %>
<% end %>
